.new-note__create {
  background-color: #0288d1;
  border: 1px solid #0288d1;
  border-radius: 3px;
  color: #fff;
  display: flex;
  font-weight: 500;
  margin-left: auto;
  margin-right: 14px;
  text-align: center;
}
